[Unit]
Description=Kubernetes Proxy
After=network.target

[Service]
EnvironmentFile={{ node_dir }}/cfg/kube-proxy.conf
ExecStart={{ node_dir }}/bin/kube-proxy $KUBE_PROXY_OPTS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
